server:
  port: 8080

spring:
  data:
    mongodb:
      uri: ${US_MONGODB_URI}
      database: ${US_MONGODB_DB}
      username: ${US_MONGODB_USERNAME}
      password: ${US_MONGODB_PASSWORD}
      authentication-database: admin
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${US_MAIL_USERNAME}
    password: ${US_MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          ssl:
            trust: smtp.gmail.com

deployment:
  ip:
    ui:
      local: http://localhost:4200
      deployed: https://urartusoftware.com